body {
    font-family: 'Exo', sans-serif !important;
}

#bloc-page {
    background: #294664;
    background-image: url(../img/image1.jpg);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.3) 100%),
        url(../img/image1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.navbar-brand, .nav-link {
    text-transform: uppercase;
}

header {
    padding: 150px 0 0 0;
    box-sizing: border-box;
    height: auto;
    position: relative;
    z-index: 5;
}

article {
    position: relative;
    margin-top: -120px;
}

article .container-fluid.bg-white {
    clip-path: polygon(0 0, 100% 6%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 0, 100% 6%, 100% 100%, 0% 100%);
}

.article-picture {
    background-color: orange;
    top: 200px;
    position: absolute;
    z-index: 2;
}

h1::after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -10px;
    background-color: white;
}

h2 {
    margin-top: 50px !important;
}


footer {
    margin-top: 100px;
    background-color: #343a40;
    color: white;
    padding: 80px 0 80px 0;
    -webkit-clip-path: polygon(0 0, 100% 6%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 6%, 100% 100%, 0% 100%);
}