body {
    font-family: 'Exo', sans-serif !important;
}

#bloc-page {
    background: #294664;
    background-image: url(../img/image1.jpg);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.3) 100%),
        url(../img/image1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.navbar-brand, .nav-link {
    text-transform: uppercase;
}

header {
    padding: 150px 0 0 0;
    box-sizing: border-box;
    height: auto;
    position: relative;
    z-index: 5;
}

h1::after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -10px;
    background-color: white;
}

#text-form {
    margin-top: 50px !important;
    font-size: 1.5rem !important;
}

#contact-form {
    margin-top: 50px;
}

#contact-form h5 {
    font-size: 2.5rem !important;
}

#contact-form {
    -webkit-clip-path: polygon(0 0, 100% 6%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 6%, 100% 100%, 0% 100%);
}

#contact-form .container {
    background-color: #294664 !important;
}

#contact-form .form-control {
    background-color: #e2ebf6;
}

#contact-form .btn-primary {
    background-color: #da7300;
    border-color: #da7300;
}

footer {
    margin-top: 100px;
    background-color: #343a40;
    color: white;
    padding: 80px 0 80px 0;
    -webkit-clip-path: polygon(0 0, 100% 6%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 6%, 100% 100%, 0% 100%);
}